@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(70deg, #694, #0dd);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.taskbar {
    position: absolute;
    bottom: 0px;
    padding: 0vh 1vw 1vh 1vw;
    background-color: #eeea;
    width: 98vw;
}
.taskbar * {
    display: inline-block;
}
.task {
    margin: 0vh 0.1vw 0vh 0.1vw;
    padding: 0.1vh;
    background-color: #04f3;
    font-size: 4vh;
    width: max-content;
    border-radius: 0vh 0vh 1vh 1vh;
}
.task:hover {
    color: #111;
    background-color: #04f8;
    cursor: copy;
}
.panel {
    background-color: #fffa;
    position: absolute;
    right: 0;
    font-size: 2vh;
}
.window {
    background-color: #fff;
    position: absolute;
    border-radius: 1vh;
    min-width: 20vw;
    min-height: 12vh;
}
.bar {
    border-radius: 1vh 1vh 0vh 0vh;
    background-color: #04f4;
    color: #fff;
}
.bar:hover {
    background-color: #04fa;
    cursor: grab;
}
.bar:active {
    cursor: grabbing;
}
